version: '3.9'
services:
  app:
    build: ./app
    restart: always
    environment:
      PYTHONUNBUFFERED: 1
      INTERVAL: ${INTERVAL}
      API_URL: ${API_URL}
      ADMIN_SECRET: ${ADMIN_SECRET}
      DB_PATH: /data/sensordb.sqlite3
      GRAPH_DIR: /data/graph
    volumes:
      - '${HOST_DATA_DIR}:/data'
    devices:
      - '${HOST_PORT}:/dev/ttyUSB0'
